*.DM
BASIS_ENTHALPY


*tmp
0_NORMAL_EXIT
*.ORB_INDX
OUTVARS.yml
PARALLEL_DIST 
MESSAGES 
INPUT_TMP* 
*.ion* 
*.FA 
*.bib 
*.RHO 
*.bands 
*.alloc 
Rho.grid.nc
*.XV
*.xyz
BASIS_HARRIS* 
FORCE_STRESS
NON_TRIMMED_KP_LIST
*.EIG
*.KP
*.contrib.EPSIMG
e1.interband*
e2.dat
e2.interband*
*BONDS*
*.EPSIMG
*.log
*.WFSX
Multibinit
TomASD
TB2J.pickle
*.STRUCT_OUT
*.times
TIMES
*.dftu_proj
